gaccelerate==1.10.1
gaiohappyeyeballs==2.6.1
gaiohttp==3.13.2
gaiosignal==1.4.0
gantlr4-python3-runtime==4.9.3
garrow==1.4.0
gasync-timeout==5.0.1
gbitsandbytes==0.48.2
gcachetools==6.2.2
gclick==8.1.8
gcontourpy==1.3.0
gcycler==0.12.1
gdatasets==2.18.0
gdill==0.3.8
gdocker-pycreds==0.4.0
geinops==0.7.0
gfilelock==3.19.1
gflash-attn==2.8.3
gfonttools==4.60.2
gfqdn==1.5.1
gfrozenlist==1.8.0
gfsspec==2024.2.0
ggit-lfs==1.6
ggitdb==4.0.12
ggitpython==3.1.45
gh5py==3.10.0
ghf-xet==1.2.0
ghuggingface-hub==0.36.0
ghydra-core==1.3.2
gimportlib-resources==6.5.2
gipdb==0.13.13
gisoduration==20.11.0
gjoblib==1.5.2
gjsonpointer==3.0.0
gjupyterlab==4.1.8
gkiwisolver==1.4.7
glark==1.3.1
glightning==2.2.1
glightning-utilities==0.15.2
gmarkdown-it-py==3.0.0
gmatplotlib==3.9.4
gmdurl==0.1.2
gmpmath==1.3.0
gmultidict==6.7.0
gmultiprocess==0.70.16
gnetworkx==3.2.1
gninja==1.13.0
gnotebook==7.1.1
gnumpy==1.26.4
gnvidia-cublas-cu12==12.8.4.1
gnvidia-cuda-cupti-cu12==12.8.90
gnvidia-cuda-nvrtc-cu12==12.8.93
gnvidia-cuda-runtime-cu12==12.8.90
gnvidia-cudnn-cu12==9.10.2.21
gnvidia-cufft-cu12==11.3.3.83
gnvidia-cufile-cu12==1.13.1.3
gnvidia-curand-cu12==10.3.9.90
gnvidia-cusolver-cu12==11.7.3.90
gnvidia-cusparse-cu12==12.5.8.93
gnvidia-cusparselt-cu12==0.7.1
gnvidia-ml-py==12.535.161
gnvidia-nccl-cu12==2.27.3
gnvidia-nvjitlink-cu12==12.8.93
gnvidia-nvtx-cu12==12.8.90
gnvitop==1.3.2
gomegaconf==2.3.0
gpackaging==23.2
gpandas==2.2.1
gpathtools==0.1.2
gpillow==11.3.0
gpromise==2.3
gpropcache==0.4.1
gprotobuf==4.25.8
gpyarrow==21.0.0
gpyarrow-hotfix==0.7
gpyparsing==3.2.5
gpytorch-lightning==2.6.0
gpytz==2025.2
gregex==2025.11.3
grfc3987-syntax==1.1.0
grich==13.7.1
gsafetensors==0.7.0
gscikit-learn==1.4.0
gscipy==1.13.1
gseaborn==0.13.2
gsentry-sdk==2.47.0
gsetproctitle==1.3.7
gshellingham==1.5.4
gshortuuid==1.0.13
gsmmap==5.0.2
gsympy==1.14.0
gtermcolor==3.1.0
gthreadpoolctl==3.6.0
gtimm==0.9.16
gtokenizers==0.22.1
gtorch==2.8.0
gtorchaudio==2.8.0
gtorchmetrics==1.8.2
gtorchvision==0.23.0
gtqdm==4.67.1
gtransformers==4.57.3
gtriton==3.4.0
gtyper-slim==0.20.0
gtzdata==2025.2
guri-template==1.3.0
gwandb==0.13.5
gwebcolors==24.11.1
gxxhash==3.6.0
gyarl==1.22.0
